:root{
  --text-color: #eee;
  --bg-color: #333;
  --font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font: var(--font-family);
}

body {
  padding: 20px;
}

