:root {
  --text-color: #d4d9d4;
  --bg-color: #212a31;
  --primary-color: #124e66;
  --shadow-color: #2e3944;
  --hover-color: #748d92;
  --font-family: "Roboto", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

body {
  padding: 20px 100px;
}
